body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(235, 255, 83, 0.394)
}

.title{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.436);
}

.recipes{
    text-align: center;
    font-size: large;
}

.food-picture{
    height: auto;
    width: 350px;
}

.center{
    text-align: center;
}